<div class="grid-100 row controls">
  <div class="grid-50">
    <h2 ng-show="recipe.name">{{recipe.name}}</h2>
		<h2 ng-show="!recipe.name">Add New Recipe</h2>
  </div>
  <div class="grid-50">
    <div class="flush-right">
      <!-- TODO Add directives to both the "Save Recipe" and "Cancel"
        buttons in order to handle user clicks. -->
      <button ng-click="redirect('/')">Save Recipe</button>
      <button ng-click="cancel()" class="secondary">Cancel</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Name </label>
    </p>
  </div>
  <div class="grid-40">
    <p>
      <input type="text" ng-model="recipe.name">
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Description </label>
    </p>
  </div>
  <div class="grid-60">
    <p>
      <textarea ng-model="recipe.description">{{recipe.description}}</textarea>
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Category </label>
    </p>
  </div>
  <div class="grid-30">
    <p>
		 <select ng-model="recipe.category" ng-options="category.name as category.name for category in categories">
		 </select>
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Prep Time </label>
    </p>
  </div>
  <div class="grid-20">
    <p>
      <input type="number" ng-model="recipe.prepTime">
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Cook Time </label>
    </p>
  </div>
  <div class="grid-20">
    <p>
      <input type="number" ng-model="recipe.cookTime">
    </p>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Ingredients </label>
    </p>
  </div>
  <div class="grid-30">
    <p class="label-spacing">
      <label> Item </label>
    </p>
  </div>
  <div class="grid-30">
    <p class="label-spacing">
      <label> Condition </label>
    </p>
  </div>
  <div class="grid-15">
    <p class="label-spacing">
      <label> Amount </label>
    </p>
  </div>

  <div class="ingredient-row" ng-repeat="ingredient in recipe.ingredients">
    <div class="prefix-20 grid-30">
      <p>
				<select ng-model="ingredient.foodItem" ng-options="foodItem.name as foodItem.name for foodItem in foodItems">
				 <option value="">Select Item</option>
			 </select>
      </p>
    </div>
    <div class="grid-30">
      <p>
      	<input type="text" ng-model="ingredient.condition" value="ingredient.condition">
      </p>
    </div>
    <div class="grid-15">
      <p>
        <input type="text" ng-model="ingredient.amount" value="ingredient.amount">
      </p>
    </div>
    <div class="grid-5 pad-top">
      <p class="flush-right">
        <a class="no-action-link" ng-click="delete($index, 'ingredients')"> <img src="images/delete.svg" height="12px"> </a>
      </p>
    </div>
  </div>

  <div class="prefix-20 grid-80 add-row">
    <p>
      <button ng-click="add([foodItem,condition,amount], 'ingredients')">+ Add Another Ingredient</button>
    </p>
  </div>

</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-20">
    <p class="label-spacing">
      <label> Steps </label>
    </p>
  </div>
  <div class="grid-75">
    <p class="label-spacing">
      <label> Description </label>
    </p>
  </div>

  <div class="step-row" ng-repeat="step in recipe.steps">
    <div class="prefix-20 grid-75">
      <p>
        <input type="text" value="{{step.description}}" ng-model="step.description">
      </p>
    </div>
    <div class="grid-5 pad-top">
      <p class="flush-right">
        <a class="no-action-link" ng-click="delete($index, 'steps')"> <img src="images/delete.svg" height="12px"> </a>
      </p>
    </div>
  </div>

  <div class="prefix-20 grid-80 add-row">
    <p>
     <button ng-click="add([description], 'steps')">+ Add Another Step</button>
    </p>
  </div>

</div>
<div class="clear"></div>
