<div class="grid-100 row controls">
  <div class="grid-30">
		<select ng-options="type as type.name for type in categories" ng-model="selected" ng-change="changeCategory(selected.name)">
      <option value="">All Categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <!-- TODO Add a directive to this button in order to handle
        when the user clicks to add a new recipe. -->
      <button ng-click="redirect('/add')">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row" ng-hide="recipes">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<div class="grid-100 row addHover" ng-show="recipes" ng-repeat="recipe in recipes">
  <a href="/#!/edit/{{recipe._id}}">
    <div class="grid-70">
      <p>
					{{recipe.name}}: {{recipe.description}}
      </p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a href="/#!/edit/{{recipe._id}}"> <img src="images/edit.svg" height="12px"> Edit </a>
          <a class="no-action-link" ng-click="delete(recipe.category, recipe._id)"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
